runtime: custom
env: flex

env_variables:
  SECRET_KEY: "[SECRET]"
  DATABASE_URL: "mysql+pymysql://[USERNAME]:[PASSWORD]@[PRIVATE_IP]/[DB_NAME]"
  REDIS_URL: "redis://[PRIVATE_IP]:6379"
  CLOUD_STORAGE_BUCKET: [BUCKET_NAME]
  WORKERS: 2
  UPLOAD_PROVIDER: "s3"
  AWS_ACCESS_KEY_ID: "[ACCESS_KEY_ID]"
  AWS_SECRET_ACCESS_KEY: "[ACCESS_KEY]"
  AWS_S3_BUCKET: "[BUCKET_NAME]"
  AWS_S3_ENDPOINT_URL: "https://storage.googleapis.com"

network:
  name: default

handlers:
- url: /.*
  secure: always
  redirect_http_response_code: 301
  script: auto

resources:
  cpu: 2
  memory_gb: 4
  disk_size_gb: 10

automatic_scaling:
  min_num_instances: 1
  max_num_instances: 8
  cpu_utilization: 
    target_utilization: 0.7
